.ctnGeneral{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: max-content;
}
.ctnImg{
    height: 3.5rem;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
}
.ctnImg img{
    height: 100%;
    width: auto;
    object-fit: contain;
 
}

.ctnGeneral:hover {
    transition: all 0.3s ease-in-out;
 scale: 1.03;

}